.App__container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-image: url("../../graphics/sport-main.jpg");
    opacity: 90%;
    background-size: cover;
    background-position: center;
}
