.Error{
    margin-top: 10vh;
    padding: 25px;
    text-align: center;
    color: #4b0000;
    background-color: #764444;
    border: 2px #4b0000 solid;
}

.Error__btn{
    margin: 15px auto 0;
    padding: 5px;
    width: 80px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    background-color: #764444;
    transition: .2s;
}

.Error__btn:hover {
    background-color: #fff;
}
