.LoginForm{
    text-align: center;
    margin: 50px auto;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 15px;
    width: 230px;
    background-color: #7f7e7e;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.LoginForm__header{
    margin: 5px;
    text-align: center;
}

.LoginForm__form{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.LoginForm__input{
    margin-top: 15px;
    padding: 5px;
    background-color: #eceaea;
}

.LoginForm__btn{
    margin: 15px auto 0;
    padding: 5px;
    width: 60px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.LoginForm__link{
    margin: 10px;
    color: #000;
}

.LoginForm__link:hover {
    color: #aeaed9;
}
