.Stats__container {
    margin: 50px auto;
    background-color: #7f7e7e;
    border: 5px solid #000;
    border-radius: 10px;
    padding: 20px;
}

.Stats__header {
    text-align: center;
    margin: 20px;
}

.Stats__list {
    list-style: none;
}

.Stats__item {
    flex-basis: 80%;
    border-top: 2px dotted #000;
    padding: 10px;
}

.Stats__wrapper {
    display: flex;
    justify-content: space-evenly;
}
